
@{
    ViewBag.Title = "NewCustomerQuotation";
}

<h2>NewCustomerQuotation</h2>



@model InsuranceClaim.Models.listquotation
@{
    ViewBag.Title = "GenerateQuotation";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    var customerdata = @ViewBag.data;
    var UserId = @ViewBag.UserId;
}

<style>
    .top-header-section, .footer-section {
        display: none;
    }
</style>



<table border="0" id="content" cellpadding="0" cellspacing="0" width="1200" style="border-collapse: collapse; background-color: white; margin: auto; color: #000">
    <tbody>
        <tr>
            <td colspan="10" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th colspan="10">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <thead>
                                        <tr>
                                            <th width="50%">
                                                <a href="">
                                                    <img width="250" src="/Images/geneinsure-logo5.png" />
                                                </a>
                                            </th>
                                            <th width="50%" align="right">
                                                <div style="text-align:right">
                                                    <p style="font-size: 13px; margin:0 0 5px">Quotation: <span style="text-transform:uppercase;color: #686868;">@ViewBag.data.QuotationId</span></p>
                                                    <p style="font-size: 13px; margin: 0 0 5px">Date: <span style="text-transform:uppercase;color: #686868;">@DateTime.Now.ToString("dd/MM/yyyy")</span></p>
                                                    <p style="font-size: 13px; margin: 0 0 5px">Valid Till: <span style="text-transform:uppercase;color: #686868;">@(DateTime.Now.AddDays(30).ToString("dd/MM/yyyy"))</span></p>
                                                    <p style="font-size: 13px;">Currency: <span style="text-transform:uppercase;color: #686868;">@ViewBag.data.Currency</span></p>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                <span style="text-transform: capitalize; margin: 2px 0 0 0px; font-weight:500; font-size: 13px; color:#000000; display: inline-block; ">Quotation to: </span>
                                                <div style="text-align:left">
                                                    <div>
                                                        <div id="name">
                                                            @if (@ViewBag.data.BusinessName != null)
                                                            {
                                                                <span style="text-transform: capitalize; margin: 2px 0 0 0px; text-transform: uppercase; font-weight: 500; font-size: 13px; color: #000000; display: inline-block; ">@ViewBag.data.BusinessName </span>
                                                            }
                                                            else
                                                            {
                                                                <span style="text-transform: capitalize; margin: 2px 0 0 0px; text-transform: uppercase; font-weight: 500; font-size: 13px; color: #000000; display: inline-block; ">@ViewBag.data.CustomerName </span>
                                                            }
                                                        </div>
                                                    </div>
                                                    @if (@ViewBag.data.BusinessAddress != null)
                                                    {
                                                        <span style="text-transform: capitalize; margin: 2px 0 0 0px; font-weight: 500; font-size: 13px; color: #000000; display: inline-block; ">@ViewBag.data.BusinessAddress</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="text-transform: capitalize; margin: 2px 0 0 0px; font-weight: 500; font-size: 13px; color: #000000; display: inline-block; ">@ViewBag.data.MainAddress</span>
                                                    }
                                                </div>
                                            </th>
                                        </tr>
                                        @*<tr>
                                                <th colspan="2" style="font-weight: 400; font-weight: 400; font-size: 13px; color: #424242; ">Highlands, Harare</th>
                                            </tr>*@
                                        <tr>
                                            <th colspan="2">
                                                @if (@ViewBag.data.ContactNumber != null)
                                                {
                                                    <span style="float: left; text-transform: Capitalize; margin: 2px 0 0 0px; font-weight: 400; font-size: 13px; color: #424242;">@ViewBag.data.ContactNumber</span>
                                                }
                                                else
                                                {
                                                    <span style="float: left; text-transform: Capitalize; margin: 2px 0 0 0px; font-weight: 400; font-size: 13px; color: #424242;">@ViewBag.data.BusinessPhoneNumber</span>
                                                }
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="10" valign="top" style="padding-top:50px">
                                <table id="tableId" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Policy Class</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Risk cover</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Risk item</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Currency</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Sum Insured</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px">Rate</th>
                                            @*<th style="font-weight:600; font-size:13px; padding:0 6px 7px" id="thAnnualId">Basic Premium</th>*@
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px" id="thAnnualId">Annual Premium</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px" id="thQuart">Quarterly Premium</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px" id="thTerm">Termly Premium</th>
                                            <th style="font-weight:600; font-size:13px; padding:0 6px 7px" id="thMonth">Monthly Premium</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.customerdetails)
                                        {
                                            <tr>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.PolicyClassName</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.RiskCoverName</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">

                                                    @item.RiskItemName
                                                    <p>Risk Address: @item.RiskAddress</p>

                                                </td>

                                                @*<td>@item.RiskAddress</td>*@
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.Currency</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.SumInsured</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;" id="Riskrate">
                                                    @*@item.RiskRate*@
                                                    @{
                                                        string riskRate = item.RiskRate;
                                                        if (!string.IsNullOrEmpty(riskRate))
                                                        {
                                                            @riskRate<span>%</span>
                                                        }
                                                        else
                                                        {
                                                            @:&nbsp;
                                                        }
                                                    }
                                                </td>

                                                @*<td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.BasicPremium</td>*@
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.AnnualPremium</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.QuarterlyPremium</td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.TerminalPremium </td>
                                                <td valign="top" style="text-transform: capitalize;font-size: 13px;font-weight: 400;line-height:16px; padding:10px 6px;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;    color: #686868;">@item.MonthlyPremium</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot style="background:#fff">
                                        <tr>
                                            <td valign="top" colspan="6" style="font-weight:600;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;color: #424242;">Total Premium</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Annualtotalpayble</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Quarterlytotalpayble</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Termlytotalpayble </td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Monthlytotalpayble </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" colspan="6" style="font-weight:600; font-size: 13px; line-height: 16px; padding: 10px 6px; border-bottom: 1px solid #ccc; color: #424242;">Stamp Duty(5%)</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Annualstampvalue</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Quarterlystampvalue</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Termlystampvalue</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px; border-bottom: 1px solid #ccc;">@Model.Monthlystampvalue</td>
                                        </tr>
                                        <tr>
                                            <td valign="top" colspan="6" style="font-weight:600;font-size:13px;line-height:16px; padding:10px 6px; color: #424242;">Total Payable</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px;">@(Model.Annualtotalpayble + Model.Annualstampvalue)</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px;">@(Model.Quarterlytotalpayble + Model.Quarterlystampvalue)</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px;">@(Model.Termlytotalpayble+ Model.Termlystampvalue)</td>
                                            <td valign="top" style="font-weight:400;font-size:13px;line-height:16px; padding:10px 6px;">@(Model.Monthlytotalpayble+ Model.Monthlystampvalue)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div class="quotes-button-section">
    <div class="container">
        <div class="quotes-button-list text-center">
            <ul class="list-inline">
                <li><button class="btn " onclick="SaveAsPdf()" type="button">Save As PDF</button></li>
                <li><button class="btn " onclick="Pdfdetails()" id="btnSendemail" type="button">Send Email</button></li>
                <li><button class="btn " type="button">Convert Quotation To Invoice</button></li>
                <li><a href="@Url.Action("ViewCustomer", "NonMotorCustomers", new { Id = 2026 }, protocol: Request.Url.Scheme)" style="font-size:19px;" class="btn btn-danger">Back</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="QuotationPrepared" style="background-color: white;">
    <span style="text-transform: capitalize; margin: 8px 0 0 0px; font-weight: 500; font-size: 15px; color: #B11A13; display: inline-block;">Quotation Prepared By : @ViewBag.data.LoggedInUser</span>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>



    $(document).ready(function () {
        debugger
        // Iterate through each column header (skip the first row)
        $('#tableId thead tr th').each(function (index) {
            // Check if all cells in this column have null values
            var allCellsNull = true;

            $('#tableId tbody tr').each(function () {
                debugger
                var cellText = $(this).find('td:eq(' + index + ')').text().trim();
                if (cellText !== "0") {
                    allCellsNull = false;
                    return false; // Exit the loop if a non-null cell is found
                }
            });

            // Hide the column header and all cells if all cells are null
            if (allCellsNull) {
                debugger
                $(this).hide();
                $('#tableId tbody tr').each(function () {
                    $(this).find('td:eq(' + index + ')').hide();
                });
            }
        });

        $('#tableId tfoot tr:nth-child(1) td').each(function (index) {
            debugger
            var columnIndex = index + 1; // Index is 0-based, but nth-child is 1-based

            // Check if all cells in this column are empty
            var allCellsNull = true;
            $('#tableId tfoot tr:not(:first-child) td:nth-child(' + columnIndex + ')').each(function () {
                debugger
                var cellText = $(this).text().trim();
                if (cellText !== "0") {
                    allCellsNull = false;
                    return false; // Exit the loop if a non-null cell is found
                }
            });

            // Hide the entire column in the <tfoot> if all cells are null
            if (allCellsNull) {
                debugger
                $('#tableId tfoot tr').each(function () {
                    $(this).find('td:nth-child(' + columnIndex + ')').hide();
                });
            }
        });

    });

    function SaveAsPdf() {
        var FileName = $('#name').text().trim();
        var HTML_Width = $("#content").width();
        var HTML_Height = $("#content").height();
        var top_left_margin = 15;
         var PDF_Width = HTML_Width + (top_left_margin * 2);
         var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        //var PDF_Width = HTML_Width + (top_left_margin * 3);
        //var PDF_Height = HTML_Height + (top_left_margin * 3);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;
        $('#QuotationPrepared').css('background-color', 'white');

        html2canvas($("#content")[0]).then(function (canvas) {
            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            // Capture additional div content
            html2canvas($("#QuotationPrepared")[0]).then(function (additionalCanvas) {
                var additionalImgData = additionalCanvas.toDataURL("image/jpeg", 1.0);

                // Position the additional content as per your requirements
                var additionalContentWidth = $("#QuotationPrepared").width();
                var additionalContentHeight = $("#QuotationPrepared").height();
                var additionalContentPositionX = top_left_margin;
                var additionalContentPositionY = HTML_Height + (top_left_margin * 5);

                pdf.addImage(additionalImgData, 'JPG', additionalContentPositionX, additionalContentPositionY, additionalContentWidth, additionalContentHeight);

                // Save the PDF
                FileName = FileName + ".pdf";
                pdf.save(FileName);
            });
        });
    }



  

    function printPdf(callback) {
        debugger
        //var FileName = $('#name').text().trim();
        var currentTimestamp = new Date().getTime(); // Get current timestamp
        var randomSuffix = Math.floor(Math.random() * 10000); // Generate a random number (between 0 and 9999)

        var FileName = "PDF_" + currentTimestamp + "_" + randomSuffix + ".pdf"; // Combine timestamp and random number

        debugger
        var HTML_Width = $("#content").width();
        var HTML_Height = $("#content").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

        html2canvas($("#content")[0]).then(function (canvas) {
            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 3), canvas_image_width, canvas_image_height);
            }
           // FileName = FileName + ".pdf";

            // Convert the PDF to a data URI
            var pdfDataUri = pdf.output('datauristring');

            // Send the PDF data URI to the server using AJAX
            $.ajax({
                type: "POST",
                url: "/NonMotorCustomers/SavePdf",
                data: { pdfDataUri: pdfDataUri, fileName: FileName },
                success: function (response) {
                    debugger
                    if (response.success) {
                        //alert("PDF saved successfully.");
                    } else {
                        alert("Error saving PDF.");
                    }
                    callback(pdfDataUri, FileName);
                },
                error: function () {
                    alert("An error occurred while saving the PDF.");
                }
            });
        });
    }


    function Pdfdetails() {
    var id = @ViewBag.UserId;
        debugger
    printPdf(function (pdfDataUri, fileName) {
        generateAndSendPdf(id, pdfDataUri, fileName);
    });
}


    function generateAndSendPdf(id, pdfDataUri, fileName) {
    var id = @ViewBag.UserId;
        debugger
        //var data = printPdf(response);
        //debugger
    $.ajax({
        url: '/NonMotorCustomers/SendPdfEmail/',
        type: 'POST',
        data: { id: id, pdfDataUri: pdfDataUri, fileName: fileName},
        success: function (response) {
            if (response.success) {
                // Handle success (e.g., show a success message)
             /*   alert("PDF saved successfully.");*/
            } else {
                // Handle failure (e.g., show an error message)
                alert('Email sending failed.');
            }
        },
        error: function (error) {
            console.error('Error:', error);
        }
    });
}


   
</script>

